@import "tailwindcss";
body {
  background-color: #f2f4f7;
}
.hr {
  border: 0px !important;
  background-color: rgb(227, 227, 227) !important;
  height: 1px !important;
  margin: 5% 0 !important;
}
.hide-scroll::-webkit-scrollbar {
  width: 0 !important;
}
.scroll-fb::-webkit-scrollbar-thumb {
  width: 2px !important;
  height: 5px !important;
  background: #000;
}
